<div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Cover</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="#">Features</a></li>
                  <li><a href="#">Contact</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading"></h1>
            <p class="lead">Save the music you find online.</p>
            <p class="lead">
              <a href="/users/sign_up" class="btn btn-lg btn-default">Sign up</a>
            </p>
            <p class="lead">
              <a href="/users/sign_in" class="btn btn-lg btn-default">Sign in</a>
            </p>
            <p class="lead">
              <a href="#" class="btn btn-lg btn-default">MusicSave for Chrome</a>
            </p>
          </div>

          <!-- <div class="mastfoot">
            <div class="inner">
              <p>A project for<a href="http://ironhack.com">Ironhack</a>, by <a href="https://es.linkedin.com/in/jesusgarciamar">Jesús García</a>.</p>
            </div>
          </div> -->

        </div>

      </div>

</div>